
Select top 10000 * From AmmAllProper Where title like '%:%'

Select count(ProperId) from AmmAllProper

/*
Delete From  AmmAllProper Where title like 'Help:%'
'Wikipedia:%'
'File:%'
'Category:%'
'Portal:%'
'Help:%'
 



 */